.dialogsItem {
  min-width: 300px;
}

.dialog {
  display: flex;

  justify-content: flex-start;
  padding: 5px 40px;
}

.image {
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.name {
  align-self: center;
}

.active {
  color: darkorchid;
}

.messages {
}

.message {
}


