
.paginatorBlock {
  margin: 0 auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;

  .title {
    font-size: 40px;
    margin: 0 auto;
  }
}

.input {
  background-color: transparent;
  display: block;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  width: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;

  align-items: center;
  padding-top: 10px;
}

.selectedPage {
  font-weight: 800;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}

.page {
  padding: 5px;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
}

.pages {
  max-width: 700px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonPrev, .buttonNext {
  list-style-type: none;
  background: transparent;
  padding: 10px 20px;
  border: 1px solid #0a66c2;
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;

  &:hover {
    box-shadow: 0 0 0 1px;
    background-color: rgba(112, 181, 249, 0.1);
    scroll-behavior: smooth;
  }
}