
.usersBlock {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  .wrapper_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.friends_item {
  display: flex;
}

.avatarFriends {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.statusOnline {
  color: #b3ffb3;
}

.statusOffline {
  color: red;
}

.selectedPage{
  font-weight: bold;
}
