.blockNamePhoto {
  display: flex;
  flex-direction: column;

}

.avatar {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background: none;
  width: 100px;
  height: 120px;
  border-radius: 50%;
}

.firstName {
  padding-top: 10px;
  font-size: inherit;
  color: #1f1f20;
}

.addPhoto {
  display: block;
  position: relative;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.44);
}

.svgSelector {
  margin: 0 auto;
  padding: 5px;
  top: -50px;
  right: 115px;
  position: absolute;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.44);
  width: 50px;
  height: 50px;
}

