.myPostsBlock {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;


.myPosts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 200px;
  justify-content: flex-start;
}

.myPost {
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  min-height: 150px;
  display: flex;
  background-color: white;

}

.photoAndName {
  padding-top: 20px;
  width: 200px;
  font-size: 15px;

  .avatar {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background: none;
    width: 30px;
    height: auto;
    border-radius: 50%;
  }
}

@media (max-width: 520px) {
  .myPostsBlock {
    width: 200px}
  }
}

@media (max-width: 1200px) {
  .myPost {
    max-width: 600px;
  }
}