.App {
  text-align: center;
  color: rgba(86, 81, 81, 0.82);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(86, 81, 81, 0.82);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 80vw;
  min-height: 100vh;
  grid-template-areas:

    'header header'
    'nav content  '
  'error error';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 10fr;
  grid-gap: 20px;
}

.content {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  grid-area: content;
}

.modal-wrap {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 200px;
  height: 30px;
  background: rgba(255, 34, 119, 0.79);
  color: #fff;
  font-size: 18px;
  border: 1px solid #57606c;
  border-radius: 10px;

  text-align: center;
  opacity: 1;
  transition: .1s;
  z-index: 1;

  grid-area: error;
}

.modal-wrap-hidden {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 200px;
  height: 30px;
  background: rgba(255, 34, 119, 0.79);
  color: #fff;
  font-size: 18px;
  border: 1px solid #57606c;
  border-radius: 10px;

  text-align: center;
  opacity: 0;
  transition: .1s;
  z-index: 1;

  grid-area: error;
}

