.header {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
  position: fixed;
  z-index: 10;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo {
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
  display: flex
}

.logo_img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  padding: 3px;
}

.headerTitle {
  margin: 0;
  font-weight: bold;
  color: #0a66c2;
  font-size: 20px;
}

.navMenu {
  flex: fit-content;
  padding-right: 10px;
}

.navItems {
  display: flex;
  justify-content: right;
  padding: 0;
  margin-left: 0;
}

.navItem {
  list-style-type: none;

}

.navItem:not(last-child) {
  margin-right: 5px;
}

.item {
  color: green;
}


