a {
  text-decoration: none;
}

.navbarMenu {
  margin: 0;
  display: flex;
}

.navbarItems {
  margin: 0;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
}

.navbarItem {
  margin: 0;
  list-style: none;
}

.navbarItem:not(:last-child) {
  margin-bottom: 5px;
}

.link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: rgba(86, 81, 81, 0.82);
}


.active {
  color: rgb(0, 0, 0);
}


