a {
  text-decoration: none;
}

.navbarWrapper{
  background-color: rgba(23, 62, 166, 0.76);
  grid-area: nav;
}

.navbarMenu {

}

.navbarItems {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.navbarItem {

  list-style: none;
}

.navbarItem:not(:last-child) {
  margin-bottom: 5px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.86);
}


.active {
  color: rgba(255, 250, 237, 0.78);
}


