a {
  text-decoration: none;
}

.navbarMenu {
  margin: 0;
  display: flex;
}

.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 550px;
}

.navbarItem {
  margin: 0;
  list-style: none;
}

.navbarItem:not(:last-child) {
  margin-bottom: 5px;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: rgba(86, 81, 81, 0.82);
  width: 100px;
  height: 50px;
  text-align: center;
}

.active {
  display: flex;
  color: rgb(0, 0, 0);
}

.linkText {
  font-size: 18px;
  text-align: center;
}

