a {
  text-decoration: none;
}

.navbarWrapper{
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  grid-area: nav;
}

.navbarMenu {

}

.navbarItems {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.navbarItem {

  list-style: none;
}

.navbarItem:not(:last-child) {
  margin-bottom: 5px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  color: rgba(86, 81, 81, 0.82);
}


.active {
  color: rgb(0, 0, 0);
}


