
.footerBlock {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  height: 50px;
  flex: 0 0 auto;



  .footerСontainer {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  .information {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    @media (max-width: 580px) {
      flex-direction: column;
      text-align: center;

    }
  }

  .copyright, .developed {
    font-size: 14px;

    @media (max-width: 580px) {
      margin: 0;
    }
  }


}





