.profileInfo {
    font-weight: 600;
    color: black;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgba(182, 182, 182, 0.82);
}

