.dialogs {
  display: flex;

  justify-content: center;
  max-width: 1440px;
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
}

.dialogsItem {
  min-width: 300px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(182, 182, 182, 0.82);
  padding: 20px 0;


}

.dialogsBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;


}

.dialog {
  color: aqua;
}

.active {
  color: darkorchid;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: white;
  border: 1px solid rgba(182, 182, 182, 0.92);
  padding: 10px;
  border-radius: 20px;

  width: 100%;
  word-wrap: break-word;
  overflow-y: scroll;
}

.addMessage {
  min-height: 160px;

  width: 100%;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid rgba(182, 182, 182, 0.82);
  display: flex;
  justify-content: center;

}

.textarea {
  margin: 30px auto 5px;
  display: block;
  max-width: 400px;
  height: auto;
  border: 1px solid rgba(182, 182, 182, 0.92);
  border-radius: 40px;
  background: transparent;
  resize: none;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  padding: 10px 100px 0 15px;
  font-size: 20px;
}

.textarea::placeholder {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.textarea:hover {
  background: rgba(182, 182, 182, 0.32);
}

.textarea:focus {
  padding: 10px 20px 0 20px;
  outline: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.textarea:focus::placeholder {
  color: transparent;
  font-family: 'Poppins', sans-serif;

}

.addMessageButton {
  display: block;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  background: transparent;
  font-size: 16px;
  padding: 20px 30px;;
  border: 1px solid #0a66c2;
  border-radius: 40px;
  cursor: pointer;
  margin: 30px 15px 0;
  align-self: flex-start;

  &:hover {
    box-shadow: 0 0 0 1px;
    background-color: rgba(112, 181, 249, 0.1);
    scroll-behavior: smooth;
  }
}

@media (max-width: 912px) {
  .dialogs {
    flex-wrap: wrap;
  }
  .dialogsItem {
    display: flex;
    flex-direction: column;

    width: 70%;
  }
}

@media (max-width:480px) {
 .addMessage {
   flex-wrap: wrap;
 }
.textarea {
  width: 100%;
}
}

